{% extends 'base.html.twig' %}

{% block title %} Ma belle bière{% endblock %}

{% block body %}
  <div class="beer30">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div>
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
<br><br><br>
    <div class="container mt-5">
        <div class="h-100 p-5 text-white rounded-3 jumbo">
        <h1 class="ml3">
           {% trans %}
           Bienvenue
           {% endtrans %}
           </h1>
            <p class="lead">
            {% trans %}
            Utilisez le menu de navigation...
            {% endtrans %}
            </p>
            <hr class="my-4">

            <a class="btn btn-light" href="https://zakaribel.com" target='_blank' role="button">{% trans %}Qui suis-je ?{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
