{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h1 class="display-4">Bienvenue</h1>
            <p class="lead">C'est ici que vous pourrez manipuler votre stock de bières..</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="https://zakaribel.com" target='_blank' role="button">Qui suis-je ?</a>
        </div>
    </div>

{% endblock %}
