* {
  text-align: center !important;
  font-family: "Play", sans-serif;
}
body {
  background-color: #9f90cd;
}
.nav-item .current_lang {
  color: white;
  float: right;
}
.table-with-effect,
.pagination {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.table-with-effect.show_effect,
.pagination.show_effect {
  opacity: 1;
}
.table-with-effect.show_effect:hover,
.pagination.show_effect.show_effect:hover {
  transform: scale(1);
  transition: opacity 1s ease-out;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.page a {
  display: none;
}

.next a,
.last a,
.previous a,
.first a {
  text-decoration: none;
  border-radius: 7px;
  background-color: #170746;
  margin: 5px;
  padding: 5px;
  color: #b0abbe;
  font-size: medium;
}

.current {
  color: #170746;
  font-size: 18px;
}

p {
  margin: 0;
  padding: 0;
}

.jumbo {
  background-color: #170746;
}
.navbar-brand {
  margin-left: 1%;
}
.navbar.bg-dark {
  background-color: #170746 !important;
  font-family: "Play", sans-serif;
}

.navbar.bg-dark .navbar-brand,
.navbar.bg-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar.bg-dark .navbar-nav .nav-item.active .nav-link {
  color: #f39c12 !important;
}
.dropdown-item:hover {
  background-color: #009879 !important;
}

.dropdown-item {
  background-color: #170746 !important ;
  color: white;
}

.dropdown-menu.show {
  display: block;
  padding: 0;
}

.nav-link:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav {
  margin-left: 35%;
}

.nav-link {
  margin: 5px;
}

h1 {
  margin-top: 25px;
}

.actions {
  width: 55px;
}
table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: "Play", sans-serif;
  font-size: 14px;
  box-shadow: 20px rgba(156, 199, 131, 0.15);
  width: 100%;
  border-radius: 6px;
  box-shadow: 16px 3px 10px -7px #3a5f3e, -10px 0px 20px -7px #888;
}



th,
tr {
  background-color: #009879;
  color: #170746;
  font-size: 15px;
}

th,
td {
  width: 100px;
  box-sizing: border-box;
}
.table_tickets td {
  padding: 4px;
}

th {
  color: white;
  background-color: #170746;
  font-size: 15px;
  height: 80px;
  padding: 20px;
}

td:first-child,
th:first-child {
  border-left: none;
}
tbody tr {
  border-bottom: 5px solid #464130;
}

tbody tr:nth-of-type(even) {
  background-color: rgb(176 163 210);
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.show_button,
.edit_button {
  height: 30px;
  padding: 3px;
  color: #170746;
}
.details_btn {
  padding: 8px;
}

.show_button:hover,
.edit_button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.th_left {
  border-radius: 10px 0 0 0;
}

.th_right {
  border-radius: 0 10px 0 0;
}

.new {
  background-color: #170746;
  text-decoration: none;
  color: white;
  border-radius: 7px;
  padding: 10px;
  font-weight: bolder;
}

input {
  width: 200px;
  margin-left: 25px;
}

label {
  padding: 5px;
}

select {
  width: 200px;
  margin-left: 25px;
}



img {
  width: 24px;
}

.uk {
  width: 28px;
}

#search{
  margin-left: 20% !important;

}


.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}



.arrow-container-ticket {
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translateX(-50%);
  animation: fadeIn 1s ease-out forwards, bounceAnimation 2s infinite;
}

.bounce {
  animation: bounceAnimation 2s infinite;
}

.msgMobile {
  display: none;
}

.newForm form {
  margin: 0 auto;
}

.deleteUp {
  margin-top: -55px;
}

@keyframes bounceAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* mobiles */
@media (max-width: 767px) {
  .navbar-nav {
    margin-left: 5%;
  }
  .uk {
    width: 30px;
  }
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }
  .dropdown-menu {
    margin-right: 5%;
  }
  table,
  .table_tickets,
  .vente_table {
    margin-left: 5px;
  }

  .table_tickets td {
    padding: 12px;
  }
  .msgMobile {
    display: block;
  }

  .form-control {
    width: 180px;
    margin-left: 27%;
  }

  .arrow-container {
    position: fixed;
    top: 30%;
    left: 10%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease-out forwards, bounceAnimation 2s infinite;
  }

  .showArticle {
    margin-left: 22%;
  }
  .showTicket {
    margin-left: 20%;
  }

  .beer30-ticket {
    display: none;
  }
  .beer30 {
    display: none;
  }
  .beer30-article {
    display: none;
  }
  .beer30-vente {
    display: none;
  }
  .beer30-show {
    display: none;
  }
  .beer30-edit {
    display: none;
  }
  .table_tickets td {
    padding: 9px;
  }
  .table_tickets {
    margin-top: 4%;
  }

  #search {
    margin-bottom: 5px !important;
    margin-left: 25% !important;
  }

  .arrow-container {
    display: none;
  }

  .arrow-container-article {
    display: none;
  }
  .arrow-container-ticket {
    display: none;
  }
}

/* Tablettes (pas fou pour l'instant, je verrai plus tard..)*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .beer30 {
    display: none;
  }
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }
  .beer30-article {
    display: none;
  }
  .beer30-edit {
    display: none;
  }

  .beer30-show {
    display: none;
  }

  .beer30-ticket {
    display: none;
  }

  .beer30-vente {
    display: none;
  }

  .new {
    margin-left: 7%;
  }
  .msgMobile {
    display: block;
  }
}
footer {
  position: relative !important;
  bottom: 0 !important;
  width: 100% !important;
  margin-top: 5% !important; 
  background-color: #170746 !important;
}

.form-control {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}


.beer30 {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 70%;
  margin-top: 8%;
  animation: volar 7s alternate infinite;
}

.beer30-ticket {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 80%;
  margin-top: 29%;
  animation: volar 7s alternate infinite;
}

.beer30-article {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: -4%;
  margin-top: 25%;
  animation: volar 7s alternate infinite;
}

.my-4 {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
  border: 3px solid;
}
.beer30-error {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 35%;
  margin-top: 10%;
  animation: volar 7s alternate infinite;
}
.boca-error {
    position: absolute;
    width: 29px;
    height: 9px;
    border-radius: 77px 77px 0 0;
    border-bottom: 22px solid black;
    margin: 103px 55px;
}
.beer30-show {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 40%;
  margin-top: 22%;
  animation: volar 7s alternate infinite;
}

.beer30-showArticle {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 81%;
  margin-top: 22%;
  animation: volar 7s alternate infinite;
}

.beer30-edit {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 55%;
  margin-top: 9%;
  animation: volar 7s alternate infinite;
}

.beer30-vente {
  position: absolute;
  transform: rotate(-21deg) scale(0.9);
  margin-left: 81%;
  margin-top: 5%;
  animation: volar 7s alternate infinite;
}

.total {
  text-decoration: underline;
}

.beer {
  position: absolute;
  width: 112px;
  height: 152px;
  background: #ffd800;
  border-right: 21px solid #fb8705;
  border-radius: 0 0 30px 30px;
  margin: 96px 119px;
}

.beer3 {
  position: absolute;
  width: 127px;
  height: 162px;
  border: 7px solid black;
  border-radius: 0 0 35px 30px;
  margin: 91px 112px;
}

.ojos,
.ojos3 {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: black;
  animation: cerrar 3s alternate infinite;
}
.ojos {
  margin: 70px 30px;
}
.ojos3 {
  margin: 70px 80px;
}
.iris {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: white;
  margin: 3px 3px;
}
.boca {
  position: absolute;
  width: 21px;
  height: 7px;
  border-radius: 0 0 12px 12px;
  border-bottom: 5px solid black;
  margin: 90px 55px;
}
.bubles {
  position: absolute;
  margin: 80px 121px;
  background: white;
  opacity: 1;
}
.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: white;
}
.b1 {
  margin: -12px 0px;
  animation: grow3 3s alternate infinite;
}
.b2 {
  margin: -30px 21px;
  animation: grow3 7s alternate infinite;
}
.b3 {
  margin: -12px 25px;
  animation: grow7 6s alternate infinite;
}
.b4 {
  margin: -30px 45px;
  animation: grow7 3s alternate infinite;
}
.b5 {
  margin: -12px 50px;
  animation: grow3 3s alternate infinite;
}
.b6 {
  margin: -30px 70px;
  animation: grow3 3s alternate infinite;
}
.b7 {
  margin: -12px 73px;
  animation: grow3 3s alternate infinite;
}
.b8 {
  margin: -12px 93px;
  animation: grow3 7s alternate infinite;
}
.b9 {
  margin: -40px 45px;
  animation: grow7 7s alternate infinite;
}
.rastro {
  position: absolute;
  width: 33px;
  height: 12px;
  border-radius: 12px;
  background: #fb8705;
  margin: 102px 125px;
  animation: volar3 7s alternate infinite;
}
.rastro::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 12px;
  border-radius: 12px;
  background: #fb8705;
  margin: 13px 0px;
}
.rastro::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 12px;
  border-radius: 12px;
  background: #fb8705;
  margin: 26px -5px;
}
.line {
  position: absolute;
  width: 7px;
  height: 12px;
  border-radius: 3px;
  background: white;
  margin: 9px 7px;
}
.line::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 45px;
  border-radius: 3px;
  background: white;
  margin: 21px 0px;
}
@keyframes grow3 {
  0%,
  25% {
    opacity: 1;
  }
  40%,
  50% {
    opacity: 0.7;
  }
  70%,
  80% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0.7;
  }
}

@keyframes grow7 {
  0%,
  25% {
    opacity: 0.7;
  }
  40%,
  50% {
    opacity: 1;
  }
  70%,
  80% {
    opacity: 0.7;
  }
  90%,
  100% {
    opacity: 1;
  }
}

@keyframes volar {
  0% {
    transform: rotate(-21deg) scale(0.9) translateY(0px) translateX(-12px);
  }
  50% {
    transform: rotate(-21deg) scale(0.9) translateY(-12px) translateX(12px);
  }
}
@keyframes volar3 {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.7);
  }
}
@keyframes cerrar {
  0%,
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
