{% extends 'base.html.twig' %}

{% block title %}Modifiez la ligne{% endblock %}

{% block body %}
    <h1>Modifiez la ligne</h1>


    {{ include('vendres/_form.html.twig', {'button_label': 'Enregistrer'}) }}


    {{ include('vendres/_delete_form.html.twig') }}
{% endblock %}