<table class="table">
    <tbody>
        <tr>
            <th>ID Article</th>
            <td>
                {{ vendre.article.nomArticle }}
            </td>
        </tr>
    </tbody>
</table>
<a href="{{ path('app_vendres_index') }}"><i class="fa-solid fa-arrow-left"></i></a>