<table class="table">
    <tbody>
        <tr>
            <th>IdArticle</th>
            <td>
                {{ vendre.article.nomArticle }}
            </td>
        </tr>
    </tbody>
</table>
<a href="{{ path('app_vendres_index') }}">back to list</a>