<form method="post" action="{{ path('app_tickets_delete', {'annee': ticket.annee, 'numeroTicket': ticket.numeroTicket}) }}" id="deleteForm" onsubmit="return confirmDelete();">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.annee) }}">
 
    <button class="btn btn-danger deleteUp">{% trans %}Supprimer ce ticket{% endtrans %}</button>
</form>

<script>
    function confirmDelete() {
        Swal.fire({
            title: 'Êtes-vous sûr?',
            text: "Vous ne pourrez pas revenir en arrière !!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Oui, supprimer!',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm').submit();
            }
        });

        return false;
    }
</script>