{{ form_start(form, {'attr': {'class': 'form'}}) }}
  
  <div class="mb-3">
    {{ form_row(form.annee, {'attr': {'class': 'form-control'}}) }}
  </div>
  

  <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>


{{ form_end(form) }}