{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_tickets_index') }}">Retour aux tickets</a>

    <h1>Modifier ticket</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Enregistrer modification'}) }}



    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
