{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_tickets_index') }}">{% trans %}Retour aux tickets{% endtrans %}</a>

    <h1>{% trans %}Modifier ticket{% endtrans %}</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Enregistrer modification' |trans}) }}



    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
