{% extends 'base.html.twig' %}

{% block title %}Nouveau Ticket{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_tickets_index') }}">Retour aux tickets</a>

    <h1>Nouveau ticket</h1>

    {{ include('tickets/_form.html.twig') }}
<br>
{% endblock %}
