{% extends 'base.html.twig' %}
{% block body %}

<h1>{% trans %}Erreur{% endtrans %} &nbsp; &nbsp;<i class="fa-solid fa-exclamation fa-2xl"></i> </h1>

 <div class="beer30-error">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
    <br>
<a class="new" href="{{path('app_home')}}">{% trans %}Retour à la page d'accueil{% endtrans %}</a>

{% endblock %}
