{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_article_index') }}">Retour aux articles</a> <br>

    <h1>Modifier l'article</h1>
    {{ include('article/_form.html.twig', {'button_label': 'Enregistrer modification(s)'}) }}


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
