{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_article_index') }}">Retour aux articles</a> 

    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }} <br>
{% endblock %}
