{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_article_index') }}"><i class="fa-solid fa-arrow-left"></i></a> 

    <h1>{% trans %}Créer un nouvel article{% endtrans %}</h1>

    {{ include('article/_form.html.twig') }} <br>
{% endblock %}
